@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}

input:-webkit-autofill {
    caret-color: #fff; /* For the I-beam cursor when editing */
    color: #fff;
    background: inherit; /* webkit autofill */
    -webkit-text-fill-color: #fff; /* Overrides the font color of autofill */
    -webkit-background-clip: text;
}

@keyframes fill-checkmark {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 100, 0;
    }
}

.checkmark-path {
    stroke-width: 5;
    fill: none;
    stroke-dasharray: 100, 100;
    animation: fill-checkmark 0.75s forwards;
}

@keyframes scale-up {
    25% {
        scale: 0.25;
    }
    50% {
        scale: 0.5;
    }
    75% {
        scale: 0.75;
    }
    100% {
        scale: 1;
    }
}
.animate-scale-up::before,
.animate-scale-up::after {
    scale: 0;
    animation: scale-up 0.75s ease forwards;
}
